//
   Created by ayaz on 13/9/15.
extends layout
block babysitters
    form#formAddBlob.form-horizontal(action='/babysitters',method='post',name='addblob',enctype='application/x-www-form-urlencoded')
        .form-group
            label.col-sm-2.control-label(for='inputName') Name:
            .col-sm-6
                input#inputName.form-control(type='text', placeholder="ex. John Smith", name='name')
        .form-group
            label.col-sm-2.control-label(for='inputAddress') Address:
            .col-sm-6
                textarea#inputAddress.form-control(type='text', placeholder="ex. Street, Locality, City - Pin, State, Country", name='address' rows=3)
        .form-group
            label.col-sm-2.control-label(for='inputCategories') Contact:
            .col-sm-6
                input#inputCategories.form-control(type='text', placeholder="ex. +(91)-11-42427627", name='contact')
        .form-group
            label.col-sm-2.control-label(for='inputPhone') Mobile:
            .col-sm-6
                input#inputPhone.form-control(type='text', placeholder="ex. +(91)-9990449968, +(91)-9311832314, +(91)-9810344417", name='mobile')
        .form-group
            label.col-sm-2.control-label(for='inputDob') YOE:
            .col-sm-6
                input#inputDob.form-control(type='date', placeholder="mm/dd/yyyy", name='yoe')
        .form-group
            label.col-sm-2.control-label(for='inputLocality') City:
            .col-sm-6
                input#inputLocality.form-control(type='text', placeholder="ex. Bangalore", name='city')
        .form-group
            label.col-sm-2.control-label(for='inputName') Is Verified?:
            .col-sm-6
                .checkbox
                    input#inputIsVerified(type='checkbox', name='isVerified')
        .form-actions
            .col-sm-offset-2.col-sm-6
                button#btnSubmit.btn.btn-primary.btn-space(type='submit') Add
                button#btnCancel.btn.btn-default.btn-space(type='button') Cancel
